name: C++ Multi-Arch Verification

on: [push, workflow_dispatch]

jobs:
  verify:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Architecture
        run: |
          echo "Estoy corriendo en:"
          uname -m

      - name: Compile C++
        run: g++ wersja-x.cpp -o mi_programa

      - name: Run Program
        run: |
          sudo mkdir -p /tmp/smok/program-cpp
          sudo chmod -R 777 /tmp/smok
          ./mi_programa
